<!DOCTYPE HTML>

<!-- after login you are directed to this page which (for now) only contains nav bar and welcome message -->

<html>
<head>
	<title>Monitor: Menu</title>
	<link rel="stylesheet" href="/styles/style.css">
	
</head>
    
<script type="text/javascript" src="ejs_production.js"> </script>

<body>

	<%- include header %>

	<br>
	<h1><center> Welcome to KindMind's monitoring site! <center></h1>
</body>
</html>

