	<form method="get" id="searchform">
        <fieldset class="search">
            <input name="keyword" size="50" placeholder="Please input the keyword">
            <input type="submit" value="search">
        </fieldset>
    </form>